* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Short Box Definitons */
.shortbox {
    text-align: center;
    background-color: #00629B;
    width: 8in;
    height: 1cm;

    margin: auto;
    padding: 30px;
    border: 5px inset rgb(198, 146, 20);
    border-radius: 20px;
}

/* Long Box Definitions */
.longbox {
    /* Long Padding Definitions */
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;

    /* Long Margin Definitions */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

    /* Long Border Definitions*/
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;

    border-top-style: ridge;
    border-bottom-style: solid;
    border-left-style: ridge;
    border-right-style: solid;

    /* Wider Gamut Colors */
    border-top-color: #FFCD00;
    border-bottom-color: color(srgb 0 0 0);
    border-left-color: #FFCD00;
    border-right-color: color-mix(in hsl, hsl(247, 57%, 75%), black);

    border-radius: 20px;

    /* Other Definitions */
    text-align: center;
    background-color: hsla(205 83% 30% / 0.62);
    width: 130px;
    height: 30px;
}

.agendabox {
    width: 5in;
    height: auto;

    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
    border: 5px inset rgb(198, 146, 20);
    border-radius: 20px;
}

.winner-ems li {
    font-size: 1.5em;
}

.new-business-rems li {
    font-size: 1.5rem;
}

.list-percent li {
    font-size: 150%;
}