* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #00629B;
}

.ucsdlogo {
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    border: 3px solid #000000;
}

/* Short Box Definitons */
.shortbox {
    position: sticky;
    top: 0;

    text-align: center;
    background-color: #00629B;
    width: 7in;
    max-width: 10in;
    height: 1cm;
    max-height: 3cm;

    margin: auto;
    padding: 30px;
    border: 5px inset rgb(198, 146, 20);
    border-radius: 20px;
}

/* Long Box Definitions */
.longbox {
    /* Fonts */
    font-family: "Lucida Console", "Courier New", monospace;

    /* Long Padding Definitions */
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;

    /* Long Margin Definitions */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

    /* Long Border Definitions*/
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;

    border-top-style: ridge;
    border-bottom-style: solid;
    border-left-style: ridge;
    border-right-style: solid;

    /* Wider Gamut Colors */
    border-top-color: #FFCD00;
    border-bottom-color: color(srgb 1 1 1);
    border-left-color: #FFCD00;
    border-right-color: color-mix(in hsl, hsl(247, 57%, 75%), salmon);

    border-radius: 20px;

    /* Other Definitions */
    text-align: center;
    background-color: hsla(205 83% 30% / 0.62);
    width: 150px;
    height: 30px;
}

.agendabox {
    display: block;
    width: 5in;
    height: auto;

    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
    border: 5px inset rgb(198, 146, 20);
    border-radius: 20px;
}

.winner-ems li {
    font-size: 1.5em;
}

.new-business-rems li {
    font-size: 1.5rem;
}

.list-percent li {
    font-size: 150%;
}

/* Attendance names have an inline display */
.attendance-inline li {
    display: inline;
}

/* The attendance names will turn blue when you hover over them */
.attendance-inline li:hover {
    color:blue;
}

/* The button text turns red when you click it */
.submit-button:active {
    color: red;
}

@media screen and (min-width: 1000px) {
    body {
        background-color: white;
    }
}

footer p, footer fieldset{
    font-size: 40px;
}